# Fichier de contraintes pour PrismChrono
# Compatible avec les cartes FPGA Lattice (format LPF)

# Horloge système
LOCATED COMP "clk" SITE "G2";
IPAD PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# Horloge DDR (pour la mémoire DDR3L)
LOCATED COMP "ddr_clk" SITE "A9";
IPAD PORT "ddr_clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "ddr_clk" 100.0 MHz;

# Reset (bouton)
LOCATED COMP "rst_n" SITE "R1";
IPAD PORT "rst_n" PULLMODE=UP IO_TYPE=LVCMOS33;

# UART
LOCATED COMP "uart_tx_pin" SITE "B12";
OPAD PORT "uart_tx_pin" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATED COMP "uart_rx_pin" SITE "B10";
IPAD PORT "uart_rx_pin" PULLMODE=UP IO_TYPE=LVCMOS33;

# LEDs
LOCATED COMP "leds[0]" SITE "B5";
OPAD PORT "leds[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATED COMP "leds[1]" SITE "A5";
OPAD PORT "leds[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATED COMP "leds[2]" SITE "C5";
OPAD PORT "leds[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATED COMP "leds[3]" SITE "C6";
OPAD PORT "leds[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATED COMP "leds[4]" SITE "B6";
OPAD PORT "leds[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATED COMP "leds[5]" SITE "A6";
OPAD PORT "leds[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATED COMP "leds[6]" SITE "A7";
OPAD PORT "leds[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATED COMP "leds[7]" SITE "B7";
OPAD PORT "leds[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# Boutons
LOCATED COMP "buttons[0]" SITE "P4";
IPAD PORT "buttons[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATED COMP "buttons[1]" SITE "N5";
IPAD PORT "buttons[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATED COMP "buttons[2]" SITE "P5";
IPAD PORT "buttons[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATED COMP "buttons[3]" SITE "T5";
IPAD PORT "buttons[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33;

# Interface DDR3L (pour la carte ULX3S avec puce DDR3L)
# Ces pins sont spécifiques à la carte ULX3S et doivent être adaptés pour d'autres cartes

# Pins de commande DDR3L
LOCATED COMP "ddr3l_cs_n" SITE "C8";
OPAD PORT "ddr3l_cs_n" PULLMODE=UP IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_we_n" SITE "E7";
OPAD PORT "ddr3l_we_n" PULLMODE=UP IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_ras_n" SITE "D7";
OPAD PORT "ddr3l_ras_n" PULLMODE=UP IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_cas_n" SITE "E8";
OPAD PORT "ddr3l_cas_n" PULLMODE=UP IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_cke" SITE "B7";
OPAD PORT "ddr3l_cke" PULLMODE=UP IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_odt" SITE "A7";
OPAD PORT "ddr3l_odt" PULLMODE=UP IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_reset_n" SITE "D8";
OPAD PORT "ddr3l_reset_n" PULLMODE=UP IO_TYPE=SSTL135_I;

# Pins d'adresse DDR3L
LOCATED COMP "ddr3l_a[0]" SITE "B1";
OPAD PORT "ddr3l_a[0]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[1]" SITE "C1";
OPAD PORT "ddr3l_a[1]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[2]" SITE "D1";
OPAD PORT "ddr3l_a[2]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[3]" SITE "E2";
OPAD PORT "ddr3l_a[3]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[4]" SITE "F2";
OPAD PORT "ddr3l_a[4]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[5]" SITE "F3";
OPAD PORT "ddr3l_a[5]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[6]" SITE "C2";
OPAD PORT "ddr3l_a[6]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[7]" SITE "D2";
OPAD PORT "ddr3l_a[7]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[8]" SITE "E3";
OPAD PORT "ddr3l_a[8]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[9]" SITE "G3";
OPAD PORT "ddr3l_a[9]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[10]" SITE "H3";
OPAD PORT "ddr3l_a[10]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[11]" SITE "J3";
OPAD PORT "ddr3l_a[11]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[12]" SITE "K3";
OPAD PORT "ddr3l_a[12]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_a[13]" SITE "L3";
OPAD PORT "ddr3l_a[13]" PULLMODE=NONE IO_TYPE=SSTL135_I;

# Pins de banque DDR3L
LOCATED COMP "ddr3l_ba[0]" SITE "M3";
OPAD PORT "ddr3l_ba[0]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_ba[1]" SITE "N3";
OPAD PORT "ddr3l_ba[1]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_ba[2]" SITE "P3";
OPAD PORT "ddr3l_ba[2]" PULLMODE=NONE IO_TYPE=SSTL135_I;

# Pins de données DDR3L
LOCATED COMP "ddr3l_dq[0]" SITE "A3";
IOPAD PORT "ddr3l_dq[0]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[1]" SITE "A4";
IOPAD PORT "ddr3l_dq[1]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[2]" SITE "B4";
IOPAD PORT "ddr3l_dq[2]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[3]" SITE "C4";
IOPAD PORT "ddr3l_dq[3]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[4]" SITE "D4";
IOPAD PORT "ddr3l_dq[4]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[5]" SITE "E4";
IOPAD PORT "ddr3l_dq[5]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[6]" SITE "F4";
IOPAD PORT "ddr3l_dq[6]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[7]" SITE "G4";
IOPAD PORT "ddr3l_dq[7]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[8]" SITE "H4";
IOPAD PORT "ddr3l_dq[8]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[9]" SITE "J4";
IOPAD PORT "ddr3l_dq[9]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[10]" SITE "K4";
IOPAD PORT "ddr3l_dq[10]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[11]" SITE "L4";
IOPAD PORT "ddr3l_dq[11]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[12]" SITE "M4";
IOPAD PORT "ddr3l_dq[12]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[13]" SITE "N4";
IOPAD PORT "ddr3l_dq[13]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[14]" SITE "P4";
IOPAD PORT "ddr3l_dq[14]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dq[15]" SITE "R4";
IOPAD PORT "ddr3l_dq[15]" PULLMODE=NONE IO_TYPE=SSTL135_I;

# Pins de masque de données DDR3L
LOCATED COMP "ddr3l_dm[0]" SITE "A5";
OPAD PORT "ddr3l_dm[0]" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_dm[1]" SITE "B5";
OPAD PORT "ddr3l_dm[1]" PULLMODE=NONE IO_TYPE=SSTL135_I;

# Pins d'horloge différentielle DDR3L
LOCATED COMP "ddr3l_ck_p" SITE "C6";
OPAD PORT "ddr3l_ck_p" PULLMODE=NONE IO_TYPE=SSTL135_I;
LOCATED COMP "ddr3l_ck_n" SITE "C7";
OPAD PORT "ddr3l_ck_n" PULLMODE=NONE IO_TYPE=SSTL135_I;

# Pins de strobe de données DDR3L
LOCATED COMP "ddr3l_dqs_p[0]" SITE "D5";
IOPAD PORT "ddr3l_dqs_p[0]" PULLMODE=NONE IO_TYPE=SSTL135D_I;
LOCATED COMP "ddr3l_dqs_n[0]" SITE "E5";
IOPAD PORT "ddr3l_dqs_n[0]" PULLMODE=NONE IO_TYPE=SSTL135D_I;
LOCATED COMP "ddr3l_dqs_p[1]" SITE "F5";
IOPAD PORT "ddr3l_dqs_p[1]" PULLMODE=NONE IO_TYPE=SSTL135D_I;
LOCATED COMP "ddr3l_dqs_n[1]" SITE "G5";
IOPAD PORT "ddr3l_dqs_n[1]" PULLMODE=NONE IO_TYPE=SSTL135D_I;

# Contraintes de timing pour l'interface DDR3L
IGROUP "ddr3l_dq[*]" IGROUP=DDR3;
IGROUP "ddr3l_dqs_*[*]" IGROUP=DDR3;
IGROUP "ddr3l_dm[*]" IGROUP=DDR3;
IGROUP "ddr3l_a[*]" IGROUP=DDR3;
IGROUP "ddr3l_ba[*]" IGROUP=DDR3;
IGROUP "ddr3l_ck_*" IGROUP=DDR3;
IGROUP "ddr3l_cs_n" IGROUP=DDR3;
IGROUP "ddr3l_we_n" IGROUP=DDR3;
IGROUP "ddr3l_ras_n" IGROUP=DDR3;
IGROUP "ddr3l_cas_n" IGROUP=DDR3;
IGROUP "ddr3l_cke" IGROUP=DDR3;
IGROUP "ddr3l_odt" IGROUP=DDR3;
IGROUP "ddr3l_reset_n" IGROUP=DDR3;